
@{
    ViewBag.Title = "OpenView";
}



<html>
<body background="~/plane.jpg" style="background-size:100% 100%; background-attachment:fixed">
    <canvas id="myCanvas" style="background-size:100% 100%"></canvas>

    <h2 style="color: #ffffff">Welcome Aboard, Need Help? Please Use Tutorials!</h2>


</body>
</html>




